export(flowCut)
export(removeLowDensSections)
import(flowCore)
importFrom(grDevices, dev.off)
importFrom(graphics, abline, lines, par, points, title)
importFrom(stats, density, quantile, sd)
importFrom(grDevices, png)
importFrom(graphics, legend)
importFrom(methods, is)
